.box {
  /* position: relative; */
}

.view {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.grab {
  cursor: grab;
}
.grab:active {
  cursor: grabbing;
}

.svg {
  background: #808080;
}
.grab .svg {
  pointer-events: none;
}

.grid {
  stroke: #999;
  stroke-width: .02;
  fill: transparent;
}

.node {
  stroke: #fff;
  stroke-width: .1;
  fill: #388e3c;
}
