.group {
  line-height: 24px;
  padding-bottom: 2px;
  color: #eee;
}

.title {
  background: #666;
  font-weight: bold;
}
.title::before {
  font-family: Webdings;
  content: '4';
  display: inline-block;
  width: 16px;
  text-align: center;
}
.title:hover {
  background: #6a6a6a;
}

.content {
  display: none;
  padding-top: 2px;
}

.expanded .title::before {
  content: '6';
}
.expanded .content {
  display: block;
}

.item {
  padding-left: 16px;
}
.item:hover {
  background: #606060;
}
.item:focus {
  background: #597690;
}

.label {
  opacity: 0.45;
  padding: 0 8px;
  min-width: 65%;
  float: right;
}