.box {
}

.box text {
  user-select: none;
}

.node {
  fill: #dfdfdf;
}

.title {
  fill: #388e3c;
}

.border {
  fill: rgba(215, 215, 215, .12);
  stroke: #fff;
  stroke-width: .1;
}

.indicator {
  fill: transparent;
  stroke-width: .1;
  cursor: move;
}

.box:hover .indicator {
  stroke: rgba(28, 115, 187, .4);
}

.box.selected .indicator {
  stroke: rgb(28, 115, 187);
}

.box.selected .border {
  fill: transparent;
}

.title-text {
  fill: #fff;
  font-size: .55px;
  text-anchor: middle;
}

.port {
  fill: rgba(190,190,190,.8);
  stroke: #fff;
  stroke-width: .05;
}
.port.in-port.connected {
  fill: #1565c0;
}
.port.out-port.connected {
  fill: #c62828;
}
.port.in-port.constant {
  fill: #4f8b2f;
}

.port-text {
  fill: #333;
  font-size: .5px;
  text-anchor: middle;
}
.port-text.in-port {
  text-anchor: start;
}
.port-text.out-port {
  text-anchor: end;
}

.split {
  fill: #999;
}

.input .title {
  fill: #d32f2f;
}
.input .title-text {
  text-anchor: end;
}

.output .title {
  fill: #1976d2;
}
.output .title-text {
  text-anchor: start;
}