.button {
  display: inline-block;
  height: 26px;
  width: 26px;
  vertical-align: middle;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  margin: 0 1px;
  font-weight: bold;
  color: #ccc;
}
.button:hover {
  background: #4c4c4c;
  color: #eee;
}
.button:active {
  background: #444;
  border: 1px solid #333;
  line-height: 24px;
}

.new::before {
  font-family: Wingdings;
  content: '2';
}

.open::before {
  font-family: Wingdings;
  content: '1';
  font-size: 85%;
  vertical-align: 1px;
}

.save::before {
  font-family: Wingdings;
  content: '<';
}