.button {
  display: inline-block;
  height: 26px;
  width: 26px;
  vertical-align: middle;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  margin: 0 1px;
  color: #ccc;
  composes: fas from '@fortawesome/fontawesome-free/css/all.css';
}
.button:hover {
  background: #535353;
  border: 1px solid #444;
  line-height: 24px;
  color: #eee;
}
.button:active {
  border: 1px solid #333;
  line-height: 24px;
  background: #444;
}

.new {
  composes: fa-file from '@fortawesome/fontawesome-free/css/all.css';
}
.open {
  composes: fa-folder-open from '@fortawesome/fontawesome-free/css/all.css';
}
.save {
  composes: fa-save from '@fortawesome/fontawesome-free/css/all.css';
}

.code {
  composes: fa-code from '@fortawesome/fontawesome-free/css/all.css';
}