.box {
  background: #5c5c5c;
  outline: 1px solid #4c4c4c;
  border: 1px solid #777;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title {
  background: linear-gradient(top, #5a5a5a, #484848);
  color: #fff;
  line-height: 28px;
  height: 28px;
  padding: 0 8px;
  outline: 1px solid #666;
  border-bottom: 1px solid #393939;
  text-shadow: 0 -1px #111;
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ccc;
  border: 1px solid #555;
  border-top: none;
}