:global(body) {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  cursor: default;
}

:global(.app) {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  user-select: none;
}

:global(input[type=text]) {
  border: none;
  background: transparent;
  color: #fff;
}