@keyframes flow {
  0% { stroke-dashoffset: .5; }
  100% { stroke-dashoffset: 0; }
}

.link {
  stroke: #fff;
  stroke-width: .07;
  fill: none;
}

.box:hover .link {
  stroke: #fff;
  stroke-dasharray: .3, .2;
  animation: flow .6s linear infinite;
}

.indicator {
  stroke: transparent;
  stroke-width: .22;
  fill: none;
}

.box:hover .indicator {
  stroke: rgba(28, 115, 187, .4);
}

.box:active .link {
  stroke-width: .1;
}

.box:active .indicator {
  stroke: rgb(28, 115, 187);
  stroke-width: .25;
}