@keyframes flow {
  0% { stroke-dashoffset: .5; }
  100% { stroke-dashoffset: 0; }
}

.ghost {
  pointer-events: none;
}

.link {
  stroke: #fff;
  stroke-width: .07;
  fill: none;
}
.shadow .link {
  stroke: rgba(255, 255, 255, .6);
}

.box:hover .link {
  stroke-dasharray: .3, .2;
  animation: flow .6s linear infinite;
}

.indicator {
  stroke: transparent;
  stroke-width: .22;
  fill: none;
}

.box:hover .indicator {
  stroke: rgba(28, 115, 187, .4);
}

.box:active .link, .box.selected .link {
  stroke-width: .1;
  /* stroke-dasharray: .3, .2;
  animation: flow .6s linear infinite; */
}

.box:active .indicator, .box.selected .indicator {
  stroke: rgb(28, 115, 187);
  stroke-width: .25;
}